extends ../../layouts/defaultAdmin.pug
include ../../mixins/alert.pug
block main
  +alertSuccess(5000)
  +alertError(5000)
  h1(class="mb-4") #{pageTitle}
 
  if(records)
    div(data-records=records)
    div(class="text-right")
      button(
        type="submit"
        class="btn btn-primary mb-3"
        button-submit
      ) Cập nhật
    table(
      class="table table-hover table-sm"
      table-permission
    )
      thead(class="bg-info")
        tr
          th Tính năng
          each item in records
            th(class="text-center") #{item.title}
      tbody
        tr(data-name="id" class="d-none")
          td
          each item in records
            td(class="text-center")
              input(type="text" value=item.id)
        //- Danh mục sản phẩm
        tr(class="bg-secondary")
          td(colspan="4")
            b Danh mục sản phẩm
        tr(data-name="products-category-view")
          td Xem
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="products-category-create")
          td Thêm mới
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="products-category-edit")
          td Sửa
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="products-category-delete")
          td Xóa
          each item in records
            td(class="text-center")
              input(type="checkbox")
        //- End Danh mục sản phẩm

        //- Danh sách sản phẩm
        tr(class="bg-secondary")
          td(colspan="4")
            b Danh sách sản phẩm
        tr(data-name="products-view")
          td Xem
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="products-create")
          td Thêm mới
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="products-edit")
          td Sửa
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="products-delete")
          td Xóa
          each item in records
            td(class="text-center")
              input(type="checkbox")
        //- END Danh sách sản phẩm

        //- Nhóm quyền
        tr(class="bg-secondary")
          td(colspan="4")
            b Nhóm quyền
        tr(data-name="roles-view")
          td Xem
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="roles-create")
          td Thêm mới
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="roles-edit")
          td Sửa
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="roles-delete")
          td Xóa
          each item in records
            td(class="text-center")
              input(type="checkbox")
        tr(data-name="roles-permissions")
          td Phân quyền
          each item in records
            td(class="text-center")
              input(type="checkbox")
        //- END Nhóm quyền

        
  form(
    id="form-change-permissions"
    method="POST"
    action=`${prefixAdmin}/roles/permission?_method=PATCH`
    class="d-none"
  )
    div(class="form-group")
      input(
      class="form-control"
      type="text"
      name="permissions"
      )
  script(src="/Admin/js/role.js")

