mixin pagination(pagination)
  nav
    ul.pagination
      if(pagination.currentPage>1)
        li(class="page-item" button-pagination=pagination.currentPage-1)
          button(class="page-link") Trang trước
      - for (var i= 1; i<= pagination.totalPage; i++)
        li(class=`page-item ms-2 ${pagination.currentPage == i ? "active" : ""}`)
          button(class="page-link" button-pagination=i) #{i}
      if(pagination.currentPage<pagination.totalPage)
        li(class="page-item" button-pagination=pagination.currentPage+1)
          button(class="page-link") Kế tiếp