mixin table-tree(items,level = 1)
  each item,index in items
    - const prefix=Array(level+1).join("-- ")
    tr
      td 
        input(
          type="checkbox"
          name="id"
          value=item.id
        )
      td.pt-3 #{item.index}
      td
        img(src=item.thumbnail alt=item.title)
      td.pt-3 #{prefix}#{item.title}
      td.pt-3 
        input(
          type="number"
          value=item.position
          style="width:60px"
          min="1"
          name="position"
        )
      td.pt-3
        if (item.status=="active")
          a(href="javascript:" 
          class="badge rounded-pill bg-success" 
          data-status=item.status
          data-id=item.id
          button-change-status) Đang hoạt động
        else 
          a(href="javascript:" 
          class="badge rounded-pill bg-danger" 
          data-status=item.status
          data-id=item.id
          button-change-status) Dừng hoạt động
      td.pt-3  

        a(class="btn btn-warning btn-sm" href=`${prefixAdmin}/product-category/edit/${item.id}`) Sửa
        button(class="btn btn-danger btn-sm ms-2"
        button-delete
        data-id=item.id
        ) xóa
        a(href=`${prefixAdmin}//product-category/detail/${item.id}` 
        class="btn btn-success btn-sm ms-2") Xem chi tiết
    if item.children && item.children.length > 0
      +table-tree(item.children,level + 1)
